---
layout: page.njk
title: Experiencia
description: Experiencia en investigación en IA, startups, código abierto, ingeniería aeroespacial y liderazgo técnico.
permalink: /es/experience/
pageKey: experience
---
{% include "pages/experience.njk" %}
