---
layout: page.njk
title: Investigación
description: Publicaciones y trabajo de investigación en IA, ingeniería aeroespacial y aprendizaje por refuerzo.
permalink: /es/research/
pageKey: research
---
{% include "pages/research.njk" %}
