---
layout: page.njk
title: Reflexiones
description: Notas cortas y pensamientos personales, algunas más desarrolladas y fundadas que otras.
permalink: /es/thoughts/
pageKey: thoughts
---

<h1>Reflexiones</h1>

<p>Notas cortas y pensamientos personales, algunas más desarrolladas y fundadas que otras. Ordenadas por fecha de publicación. Si quieres comentar alguna, escríbeme.</p>

<hr>

{% include "pages/thoughts-list.njk" %}
