---
layout: page.njk
title: Thoughts
description: Short notes and personal thoughts, some more developed and grounded than others.
permalink: /thoughts/
pageKey: thoughts
---

<h1>Thoughts</h1>

<p>Short notes and personal thoughts, some more developed and grounded than others. Ordered by publication date. Feel free to reach out if you want to discuss any of them.</p>

<hr>

{% include "pages/thoughts-list.njk" %}
